---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404 - Where did you get this URL?">
  <h1 class="text-4xl font-bold mb-8">404 - Where did you get this URL?</h1>
  <p class="text-lg mb-8">
    This page doesn't exist. Or maybe it does, but you're not supposed to be
    here.
  </p>
  <button class="bg-slate-900 text-white px-4 py-2 rounded">
    <a href="/">← Go back to the homepage</a>
  </button>
</BaseLayout>
