---
const currentYear = new Date().getFullYear();
const socialLinks = [
  {
    label: "BlueSky",
    href: "https://bsky.app/profile/kjetilmann.bsky.social",
    icon: "🔵",
  },
  {
    label: "GitHub",
    href: "https://github.com/zzyzxisalreadytaken",
    icon: "⌨",
  },
  {
    label: "LinkedIn",
    href: "https://www.linkedin.com/in/kjetil-ytrehus-lynum-6b210967/",
    icon: "💼",
  },
];
---

<footer class="bg-stone-100 border-t mt-auto border-stone-200">
  <div class="container mx-auto px-4 py-8">
    <div class="flex flex-col md:flex-row justify-between items-center gap-4">
      <div class="text-stone-600">
        © {currentYear} blog.zzyzx. All rights reserved.
      </div>

      <nav>
        <ul class="flex gap-6">
          {
            socialLinks.map(({ label, href, icon }) => (
              <li>
                <a
                  href={href}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-stone-600 hover:text-stone-900 transition-colors"
                  aria-label={label}
                >
                  {icon}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</footer>
